<div id='user-subscription' class="container mx-auto p-10 min-h-screen w-1/2">
  <div id="contact-us-form" class="mt-8 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Subscribe Us</h2>
    <%= form_with model: user_subscription, local: true, class: "space-y-4" do |form| %>
      <% if user_subscription.errors.any? %>
        <div class="error-area text-red-600 mb-4">
          <h3 class="text-lg font-bold">
            <%= pluralize(user_subscription.errors.count, 'Error') %> prohibited this subscription.
          </h3>
          <ul class="list-disc list-inside">
            <% user_subscription.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= form.label :subscription_id, "Subscription", class: "block font-medium text-gray-700" %>
        <%= form.collection_select :subscription_id, subscription_plan_list, :id, :name, {}, class: "w-full p-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-purple-500", data: { controller: "subscriptions" } %>
      </div>
      <turbo-frame id="subscription-details" class='p-1'>
        <%= render partial: 'subscriptions/plan', locals: { subscription: subscription_plan_list.first } %>
      </turbo-frame>
      <div>
        <%= form.label :name, class: "block font-medium text-gray-700" %>
        <%= form.text_field :name, placeholder: "Your Name", class: "w-full p-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-purple-500" %>
      </div>
      <div>
        <%= form.label :email, class: "block font-medium text-gray-700" %>
        <%= form.email_field :email, placeholder: "Email Address", class: "w-full p-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-purple-500" %>
      </div>
      <div>
        <%= form.submit "Make Payment", class: "bg-purple-600 text-white py-2 px-4 rounded cursor-pointer hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50" %>
      </div>
    <% end %>
  </div>
</div>
