<!DOCTYPE html>
<html>
  <head>
    <title>MarketTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="w-full min-h-screen flex flex-wrap justify-center items-center bg-violet-200">
      <%= yield %>
    </div>
  </body>
</html>
